@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {padding: 0;margin: 0; border: 0;}
*, *::before, *::after {box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, header, footer, aside {display: block;}
body, html {
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}
ul, li {list-style: none}
button{cursor: pointer;}
a, a:visited, a:hover{text-decoration: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-family: inherit; font-weight: 400; color: #000;}

button::-moz-focus-inner{padding: 0;border: 0;}
input::-ms-clear{display: none;}

body {
    font-family: 'Lato', sans-serif;
    line-height: 22px;
    color: #666;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* SOCIAL */
.social {
    background-color: #f2f2f2;
}
.social__title {
    font-size: 15px;
}

.social__body {
display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.social__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.social__link {
    color: #666;
    margin: 0 10px;
}

.social__link i {
    font-size: 14px;
}
/* HEADER */
.header {
    padding: 25px 0;
}
.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__welcome {  
    display: flex;
    align-items: center;
}
.header__text {
    margin-left: 18px;
}
.header__title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 900;
}
.header__subtitle {
    font-size: 14px;
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;

    margin-left: 30px;
}
.header__nav li {
    padding: 0 15px;
}

.header__link {
    text-transform: uppercase;
    color: #393939;
    font-weight: bold;
    font-size: 16px;
}
.header__search {
    margin-left: 30px;
}
.header__search i{
    font-size: 16px;
}

/* MEDIA */
@media screen and (max-width: 1115px){
    .container {
        max-width: 970px;
    }
}


@media screen and (max-width: 992px){
    .container {
        max-width: 750px;
    }
}

@media screen and (max-width: 768px){
    .container {
        max-width: none;
        padding: 0 10px;
    }
}

@media screen and (max-width: 546px){
    .header-body {
        justify-content: center;
    }

    .header__nav {
        display: none;
    }
}